/* Configurações básicas */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #dddddd;
    color: #333;
    line-height: 1.6;
}

.container {
    margin: 2rem 0 2.5rem 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #6a87e7e0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #e7c965e0;
}

p {
    text-align: center;
    color: #222;
}

.resultado { 
    margin-top: 20px; padding: 10px; border: 1px solid #ccc; 
}

.dadosTemp {
    font-size: 24px; 
    font-weight: bold;
}

.erroTemp {
    color: red;
    font-weight: bold;
}